<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
	<head>
		<meta charset="UTF-8">	
	</head>
	<body>
		<img src="{% static '/media/logo.png' %}" alt = 'logo' width = 200px height = 70px>
		<h1>IMDB review</h1>       
		<form action="/" method="post"> {% csrf_token %}
			<h2>Write your review:</h2>
			<textarea name="review" cols="100" rows="10" required="True" placeholder="Type here"></textarea>
			<br>
			<input type="submit" value="Go!">
		<h2>Your review:</h2>
		<p>{{ review_text }}</p>
		<h2>Stars: {{ review_stars }}</h2>           
		<h2>Positive review: {{ review_class }}</h2>
		</form>
	</body>
</html>